@import "tailwindcss";

@theme {
  --color-primary-100: oklch(0.9761 0 0);
  --color-secondary-100: oklch(0 0 0);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}


body {
  background-color: var(--color-primary-100);
  font-family: var(--font-inter)
}


@layer base {
  .text-label {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem;
  }

  .text-body {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem;
  }

  .text-heading {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem;
  }

  .text-title {
    font-size: 1.8rem; /* 28px */
    line-height: 2rem;
  }

  @media (min-width: 1024px) {
    .text-label {
      font-size: 1rem; /* 16px */
      line-height: 1.5rem;
    }

    .text-body {
      font-size: 1.125rem; /* 18px */
      line-height: 1.75rem;
    }

    .text-heading {
      font-size: 1.5rem; /* 24px */
      line-height: 2rem;
    }

    .text-title {
      font-size: 1.85rem; /* 30px */
      line-height: 2.25rem;
    }
  }
}


/*#171717*/